* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Hanken Grotesk", Arial, sans-serif;
    background-color: #171717;
    color: #D9D9D9;
    padding: 20px;
    height: 100vh;
    display: flex;
    justify-content: center;
}

header{
    text-align: center;
    padding: 20px;
    margin: 0;
}

header > h1 {
    font-size: 1.5rem;
    font-weight: 500;
    color: #facc15;
}

header > p {
    font-size: 1rem;
    max-width: 400px;
    color: #8E8E8E;
}

section.game-status {
    background-color: #1f5130;;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    border-radius: 4px;
    margin-block: 30px; 
}

section.game-status > h2 {
    font-size: 1.25rem;
    margin: 5px;
}

section.game-status > p {
    font-size: 1rem;
    margin: 5px;
    color: #d4d4d4;
}

section.life-status-section{
    display: flex;
    gap: 8px;
    justify-content: center;
    margin: 20px 0;
}

.heart {
    width: 48px;
    height: 48px;
    overflow: hidden;
    image-rendering: pixelated;
}

.heart img {
    display: block;
    height: 48px;
    width: auto;
}

section.current-word {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    gap: 2px;
    margin-bottom: 20px;
}

span.letter-box {
    height: 40px;
    width: 40px;
    font-size: 1.125rem;
    border-bottom: 1px solid #D9D9D9;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #2b2b2b;
}


section.keyboard-section {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
div.keyboard {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    justify-content: center;
    max-width: 450px;
}

div.keyboard > button {
    height: 35px;
    width: 35px;
    background-color: #facc15;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

div.keyboard > button:hover {
    background-color: #2b2b2b;
    cursor: pointer;
}
section.new-game-btn-section {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

section.new-game-btn-section > button {
    width: 225px;
    height: 40px;
    background-color: #2dd4bf;
    display:block;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 500;
}